h6{
    color: rgb(16, 218, 245);
}
img{
    width: 100%;
    height: 250px;
}
/*This is a new comment*/

/*This is a third comment*/

/*This is the first version*/

/*This is the second version*/

/*This is the third version*/